{% extends "base.html" %}

{% block style %}
    <style>
        .content {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1 {
            margin: 0 0 20px 0;
        }
        form {
            /* background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
            width: 300px;
        }
        label {
            display: block;
            margin-bottom: 8px;
        }
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
        }
        .cancel {
            background-color: #FF0000; /* red */
            color: white;
        }
        .save {
            background-color: #28A745; /* green */
            color: white;
        }
    </style>
{% endblock style %}

{% block title %}
<title>MonEtab - User</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Modifier l'utilisateur - 45678</h1>
    <form>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" value="admin" disabled>
        
        <label for="old-password">Ancien mot de passe</label>
        <input type="password" id="old-password" required>
        
        <label for="new-password">Nouveau mot de passe</label>
        <input type="password" id="new-password" required>
        
        <label for="confirm-password">Confirmer nouveau mot de passe</label>
        <input type="password" id="confirm-password" required>
        
        <div>
            <button type="button" class="button cancel">Annuler</button>
            <button type="submit" class="button save">Enregistrer</button>
        </div>
    </form>
</div>
{% endblock body %}
